* {
	font-family: "Open sans";
}

a {
	text-decoration: none;
}

.active {
	font-weight: bold;
}

.lead {
	font-size: 16px;
}

button {
	padding: 10px 25px;
	border: none;
	background: #9c27b0;
	color: #fff;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
    box-shadow: 0px 6px #7b1fa2;
    border-radius: 0 0 5px 5px;
}

button:hover {
  box-shadow: 0 4px #7b1fa2;
  top: 2px;
  /*-webkit-box-shadow: 0 .1em 1em;
  -moz-box-shadow: 0 .1em 1em;
  -o-box-shadow: 0 .1em 1em;
  box-shadow: 0 .1em 1em;*/
}

button:active {
	box-shadow: 0 0 #7b1fa2;
	top: 6px;
}

/**************Heading*************/

.heading {
	margin-bottom: 90px;
}

.heading h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

.heading h1 span {
	font-weight: bold;
}

.heading::after {
	content: "";
	
	background-image: url("../images/border.png");
	width: 160px;
	height: 40px;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	left: 50%;
	margin-left: -80px;
	margin-top: -20px;
}

.heading-white {
	margin-bottom: 90px;
}

.heading-white h1 {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal;
}

.heading-white h1 span {
	font-weight: bold;
}

.heading-white::after {
	content: "";
	
	background-image: url("../images/border-white.png");
	width: 160px;
	height: 40px;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	left: 50%;
	margin-left: -80px;
	margin-top: -20px;
}

/**************Header*************/

.header-one {
	background: #3a3a4b;
	color: #fff;
}

.header-one .header-contact-ul {
	list-style-type: none;
	display: inline-flex;
	margin: 0;
	padding: 0;
	align-items: center;
	height: 40px;
}

.header-one .header-contact-ul li {
	margin-right: 20px;
}

.header-one .header-social-ul {
	list-style-type: none;
	display: inline-flex;
	color: #fff;
	margin: 0;
	padding: 0;
	align-items: center;
	height: 40px;
	justify-content: flex-end;
	width: 100%;
}

.header-one .header-social-ul li {
	padding-left: 10px;
}

.header-one .header-social-ul img {
	height: 25px;
	width: 25px;
}

.header-two {
	background: #9c27b0;
	height: 80px;
}

.header-two .logo {
	display: flex;
	height: 80px;
	align-items: center;
}

.header-two .logo h1 {
	color: #fff;
	margin: 0;
	align-items: center;
}

.header-two .logo h2 a {
	color: #fff;
	font-family: 'Berkshire Swash', cursive;
}

.header-two .logo h2 a:hover {
	text-decoration: none;
}

.header-navigation {
	display: inline-flex;
	list-style-type: none;
	width: 100%;
	height: 80px;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: flex-end;

}

.header-navigation li {
	margin: 0 0 0 30px;
}

.header-navigation li a {
	color: #fff;
	font-size: 13px;
}

.header-navigation li a:hover {
	text-decoration: none;
}

/**************Banner*************/

.banner {
	margin: 0;
	padding: 0;
	background: url("../images/bg.jpg") no-repeat left top/cover;
	height: 500px;
	background-attachment: fixed;
	animation: slider-lg ease-in-out 30s both infinite;
	-moz-animation: slider-lg ease-in-out 30s both infinite;
}

.card-outside {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.card-inside {
	padding: 50px;
	text-align: center;
	background: rgba(0,0,0,0.4);
	color: #fff;
}

/**************About Us*************/

.about {
	padding: 40px 0 80px 0;
}

.about-image {
	background: url("../images/about-bg.jpg") no-repeat center center/cover fixed;
	height: 500px;
}

.about-content {
	padding: 50px;
}

/**************Product*************/

.product {
	padding: 40px 0 80px 0;
	background: url("../images/product-bg.jpg") no-repeat center center/cover fixed;
	height: 500px;
}